@import 'materialize';

html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  background: rgb(237,237,237);
}

.card-action.custom-actions-style {
  a {
    color: #fff;
  }

  .btn {
    margin-bottom: 0px;
    padding-left: 1.3rem;
  }
}

.btn {
  &.icon-adjustment-left {
    padding-left: 1.3rem;
  }
  &.icon-adjustment-right {
    padding-right: 1.3rem;
  }
}

.card {
  .card-minor-details {
    color: #b3b3b3;
  }
  a.card-title {
    text-transform: none;
  }
}

.hidden {
  display: none !important;
}

#deleteModal {
  display: block;

  .btn, .btn-large, .btn-flat {
    margin: 6px 0 0 15px;
  }
}