{{goals-toolbar data=controller}}

<div class="col s12">
  <ul class="collection">

    {{#each goal in controller}}
      {{single-goal goal=goal}}
    {{else}}
      no goals :-(
    {{/each}}

  </ul>
</div>

{{outlet}}
