{{!-- {{experiments-toolbar data=controller}} --}}

{{outlet}}

{{#each project in controller.listProjects}}
  {{single-project project=project}}
{{else}}
  no projects :-(
{{/each}}

{{!-- <ul class="pagination center-align">
  <li class="disabled">
    <a href="#!"><i class="mdi-navigation-chevron-left"></i></a>
  </li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">4</a></li>
  <li class="waves-effect"><a href="#!">5</a></li>
  <li class="waves-effect"><a href="#!">
    <i class="mdi-navigation-chevron-right"></i></a>
  </li>
</ul> --}}
